body{

    color: blueviolet;
    text-aling: center;
    font-family: Arial;


}
#cabecera{

    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}
#cabecera tagliwer{

    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.0em;
}
#container{

    width: 70%;
    padding: 1em;
    text-aling: left;
    border: 1px solid black;
    margin: 0 auto; 
}
#container h1{

    font-size: 1em;
}
